.phint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left-width: 3px;
    border-left-style: solid;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.phint__text {
    flex: 1;
    padding: 10px 12px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: -1px;
}

.phint__close {
    padding: 8px;
    margin-right: 8px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 150ms;
}

.phint__close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.phint__close-icon {
    width: 16px;
    height: 16px;
}

/* Theme: Blue */
.phint--blue {
    border-left-color: var(--color-primary-light);
    background-color: var(--color-primary-bg);
}

.phint--blue .phint__text {
    color: var(--color-primary);
}

.phint--blue .phint__close {
    color: var(--color-primary-light);
}

/* Theme: Red */
.phint--red {
    border-left-color: var(--color-danger-hover);
    background-color: var(--color-danger-bg);
}

.phint--red .phint__text {
    color: var(--color-danger);
}

.phint--red .phint__close {
    color: var(--color-danger-hover);
}

/* Theme: Yellow */
.phint--yellow {
    border-left-color: var(--color-warning);
    background-color: var(--color-warning-bg);
}

.phint--yellow .phint__text {
    color: var(--color-warning);
}

.phint--yellow .phint__close {
    color: var(--color-warning);
}
